*.o
*.a
*.bak
*.lib
# watcom
*.obj
*.err
*.sym
*.map
*.MAP
*.mbr
*.lk*
# vc98
*.ncb
*.plg
*.opt
*.pdb
*.idb
*.ilk
*.pch
*.sbr
*~
*.exe
*.log
*.gz
.*.swp
*.kdev*
*.layout
*.plist
.*project
*.anjuta
*.komodo*
.*.prefs
.settings/org.eclipse.core.runtime.prefs
*.cbr
*.mk1
*.smp
*.\$*
*.~*
*.m[br]t
*.DSW
*.BAK
.eclipsefp/